.container{
  
}



.content{
    display: flex;
    justify-content: space-between;
    background-color: #373737;
    color: #ffffff;
    padding: 0px 8px;
}


.cases{
    
    padding: 5px;
}

.caseIf{
    width: 50px;
    height: 40px;
    border-radius: 5px;
    color: black;
    background-color: #ffd600;
}
.caseElse{
    width: 50px;
    height: 40px;
    border-radius: 5px;
    color: black;
    background-color: #ffd600;
}